.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square-maze {
  border: solid 4px black;
  line-height: 0;
}

.square-maze__cell {
  line-height: 0;
  display: inline-block;
  background-color: white;
  border: solid 1px white;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.square-maze__cell--has-north-wall {
  border-top: solid 1px black;
}

.square-maze__cell--has-south-wall {
  border-bottom: solid 1px black;
}

.square-maze__cell--has-west-wall {
  border-left: solid 1px black;
}

.square-maze__cell--has-east-wall {
  border-right: solid 1px black;
}

